<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card" style="width: 20rem;">

    <div class="card-header text-center" style="background-color: #003366; color: white;">
      <h3>Online Store</h3>
    </div>

    <div class="card-body">
      <h5 class="card-title text-center">Login</h5>

      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= form_with(scope: :user, url: user_session_path, method: :post, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group text-center" style="margin-top: 10px">
          <%= f.submit "Log in", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>

    <div class="card-footer text-center">
      <%= link_to 'Register', new_user_registration_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
