<!DOCTYPE html>
<html>
<head>
  <title>Online Store</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <style>
      body, html {
          height: 100%;
          margin: 0;
          padding: 0;
      }

      .container-fluid {
          padding: 0;
          height: 100%;
          overflow: hidden;
      }

      .row {
          margin-right: 0;
          margin-left: 0;
      }

      .row > [class^="col-"] {
          padding: 0;
      }

      header {
          background-color: #003366;
          color: white;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          border: none;
      }

      aside {
          background-color: #0057b7;
          color: white;
          height: calc(100vh - 100px);
          display: flex;
          flex-direction: column;
          align-items: center;
          border: none;
          padding-top: 50px;
      }

      main {
          background-color: #f8f9fa;
          height: calc(100vh - 100px);
          border: none;
          padding-top: 1px;
          overflow-y: auto;
      }
  </style>
</head>
<body>
<% if user_signed_in? %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <header>
          <h1><strong>Online Store</strong></h1>
        </header>
      </div>
    </div>

    <div class="row flex-grow-1">
      <div class="col-md-2">
        <aside>
          <% if current_user.role == "user" %>
            <%= link_to 'User Profile', user_path(current_user), class: 'btn btn-primary btn-lg', style: 'margin-bottom: 20px; display: block;' %>
            <%= link_to 'Show Products', products_path, class: 'btn btn-primary btn-lg', style: 'margin-bottom: 20px; display: block;' %>
            <%= link_to 'Shopping Cart', cart_path, class: 'btn btn-primary btn-lg', style: 'margin-bottom: 20px; display: block;' %>
            <%= link_to 'History Orders', orders_path, class: 'btn btn-primary btn-lg', style: 'margin-bottom: 20px; display: block;' %>
            <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-primary btn-lg', style: 'margin-bottom: 20px; display: block;' %>
          <% else %>
            <%= link_to 'User Profile', user_path(current_user), class: 'btn btn-primary btn-lg', style: 'margin-bottom: 20px; display: block;' %>
            <%= link_to 'Edit Products', products_path, class: 'btn btn-primary btn-lg', style: 'margin-bottom: 20px; display: block;' %>
            <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-primary btn-lg', style: 'margin-bottom: 20px; display: block;' %>
          <% end %>
        </aside>
      </div>

      <div class="col-md-10">
        <main>
          <%= yield %>
        </main>
      </div>
    </div>
  </div>
<% else %>
  <% case controller_name %>
  <% when 'registrations' %>
    <%= render 'devise/registrations/new' %>
  <% when 'sessions' %>
    <%= render 'devise/sessions/new' %>
  <% end %>
<% end %>
</body>
</html>
